* 完成後請寄到EMAIL : clement.class.02@gmail.com
* 信件主旨請設定為： 03-02.Pandas_課堂練習_學號_姓名 (例: "03-02.Pandas_課堂練習_00_陳仁政")
* 附件檔名請設定為： 03-02.Pandas_課堂練習_學號_姓名.ipynb (例: "03-02.Pandas_課堂練習_00_陳仁政.ipynb")

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv("../data/vgsales.csv")
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [28]:
# 找出有缺失值的欄位
data.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
總和                0
dtype: int64

In [29]:
# 計算欄位的基本統計數據
data.describe(include='all')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,總和
count,16598.000000,16598,16598,16327.000000,16598,16540,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
unique,NaN,11493,31,NaN,12,578,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Need for Speed: Most Wanted,DS,NaN,Action,Electronic Arts,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,12,2163,NaN,3316,1351,NaN,NaN,NaN,NaN,NaN,NaN
mean,8300.605254,NaN,NaN,2006.406443,NaN,NaN,0.264667,0.146652,0.077782,0.048063,0.537441,0.411319
std,4791.853933,NaN,NaN,5.828981,NaN,NaN,0.816683,0.505351,0.309291,0.188588,1.555028,1.247418
min,1.000000,NaN,NaN,1980.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000
25%,4151.250000,NaN,NaN,2003.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.060000,0.020000
50%,8300.500000,NaN,NaN,2007.000000,NaN,NaN,0.080000,0.020000,0.000000,0.010000,0.170000,0.120000
75%,12449.750000,NaN,NaN,2010.000000,NaN,NaN,0.240000,0.110000,0.040000,0.040000,0.470000,0.370000
max,16600.000000,NaN,NaN,2020.000000,NaN,NaN,41.490000,29.020000,10.220000,10.570000,82.740000,70.510000

In [2]:
# 取出 "Publisher" 欄位的資料
data['Publisher']

0          Nintendo
1          Nintendo
2          Nintendo
3          Nintendo
4          Nintendo
            ...
16593         Kemco
16594    Infogrames
16595    Activision
16596      7G//AMES
16597       Wanadoo
Name: Publisher, Length: 16598, dtype: object

In [4]:
# 取出 Publisher, Name, Genre 欄位的資料
data[['Publisher','Name','Genre']]

,Publisher,Name,Genre
0,Nintendo,Wii Sports,Sports
1,Nintendo,Super Mario Bros.,Platform
2,Nintendo,Mario Kart Wii,Racing
3,Nintendo,Wii Sports Resort,Sports
4,Nintendo,Pokemon Red/Pokemon Blue,Role-Playing
...,...,...,...
16593,Kemco,Woody Woodpecker in Crazy Castle 5,Platform
16594,Infogrames,Men in Black II: Alien Escape,Shooter
16595,Activision,SCORE International Baja 1000: The Official Game,Racing
16596,7G//AMES,Know How 2,Puzzle
16597,Wanadoo,Spirits & Spells,Platform

In [5]:
# 計算每筆資料的 NA_Sales,EU_Sales,JP_Sales,Other_Sales 總和
data['NA_Sales'] + data['EU_Sales'] + data['JP_Sales'] + data['Other_Sales']

0        82.74
1        40.24
2        35.83
3        33.00
4        31.38
         ...
16593     0.01
16594     0.01
16595     0.00
16596     0.01
16597     0.01
Length: 16598, dtype: float64

In [7]:
# 計算每筆資料的 NA_Sales,EU_Sales,JP_Sales,Other_Sales 總和，並存入新的欄位"總和"
data['總和'] = data['NA_Sales'] + data['EU_Sales'] + data['JP_Sales'] + data['Other_Sales']
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,總和
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,35.83
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,31.38
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,0.00
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.01

In [12]:
#找出發行商為Nintendo的遊戲名稱
data[data['Publisher'] == 'Nintendo']['Name']

0                                               Wii Sports
1                                        Super Mario Bros.
2                                           Mario Kart Wii
3                                        Wii Sports Resort
4                                 Pokemon Red/Pokemon Blue
                               ...
16269                             Slide Adventure: Mag Kid
16357                 Mario vs. Donkey Kong: Tipping Stars
16456                             Art Academy: Home Studio
16473                                      Captain Rainbow
16542    Mario & Luigi: Paper Jam & Mario Kart 7 Double...
Name: Name, Length: 703, dtype: object

In [13]:
#列出所有Wii的遊戲名稱
data[data['Platform'] == 'Wii']['Name']

0                                               Wii Sports
2                                           Mario Kart Wii
3                                        Wii Sports Resort
7                                                 Wii Play
8                                New Super Mario Bros. Wii
                               ...
16517                         Teenage Mutant Ninja Turtles
16552             Mahou Sensei Negima!? Neo-Pactio Fight!!
16573                                  Mini Desktop Racing
16574    Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...
16581                                            Fit & Fun
Name: Name, Length: 1325, dtype: object

In [22]:
#計算所有GBA遊戲的銷售總合
data[data['Platform'] == 'GBA']['Global_Sales'].sum().item()

318.5

In [43]:
#計算任天堂運動類遊戲的銷售總量
data[(data['Publisher'] == 'Nintendo') & (data['Genre'] == 'Sports')]['Global_Sales'].sum().item()

218.01

In [26]:
#列出北美地區銷售量最高的前五名遊戲
data.sort_values(by='NA_Sales', ascending=False)[0:5]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,總和
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.24
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,28.31
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,30.26
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,35.83

In [27]:
#列出北美與歐洲地區銷售量總和最高的前五名遊戲
data['總和'] = data['NA_Sales'] + data['EU_Sales']
data.sort_values(by='總和', ascending=False)[0:5]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,總和
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,70.51
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,32.66
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,28.73
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,27.56
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,26.76

In [30]:
#找出總共有多少種不同的平台
data['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [38]:
#寫程式計算不同平台的總銷售量
platform = data['Platform'].unique()
data2 = pd.DataFrame() 
data2['Platform'] = platform
sum_temp = []
for p in platform:
    sum_temp.append(data['Global_Sales'][data['Platform'] == p].sum())
data2['Total_Global_Sales'] = sum_temp
data2

   Platform  Total_Global_Sales
0       Wii              926.71
1       NES              251.07
2        GB              255.45
3        DS              822.49
4      X360              979.96
5       PS3              957.84
6       PS2             1255.64
7      SNES              200.05
8       GBA              318.50
9       3DS              247.46
10      PS4              278.10
11      N64              218.88
12       PS              730.66
13       XB              258.26
14       PC              258.82
15     2600               97.08
16      PSP              296.28
17     XOne              141.06
18       GC              199.36
19     WiiU               81.86
20      GEN               28.36
21       DC               15.97
22      PSV               61.93
23      SAT               33.59
24      SCD                1.87
25       WS                1.42
26       NG                1.44
27     TG16                0.16
28      3DO                0.10
29       GG                0.04
30     PCFX                0.03

In [40]:
# 使用GroupBy來完成上述的工作
data.groupby('Platform')['Global_Sales'].sum()

Platform
2600      97.08
3DO        0.10
3DS      247.46
DC        15.97
DS       822.49
GB       255.45
GBA      318.50
GC       199.36
GEN       28.36
GG         0.04
N64      218.88
NES      251.07
NG         1.44
PC       258.82
PCFX       0.03
PS       730.66
PS2     1255.64
PS3      957.84
PS4      278.10
PSP      296.28
PSV       61.93
SAT       33.59
SCD        1.87
SNES     200.05
TG16       0.16
WS         1.42
Wii      926.71
WiiU      81.86
X360     979.96
XB       258.26
XOne     141.06
Name: Global_Sales, dtype: float64